<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_admin_article_path(@article) %></li>
  <li><%= link_to "Destroy", admin_article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= link_to "Comments", admin_article_comments_path(@article) %>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to "Generate PDF", admin_generate_pdf_path(@article) %><br>
<%= render 'shared/sign' %>